<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Title</title>

</head>
<body>
<nav th:include="fragments/nav-bar :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 offset-lg-4">

            <form th:action="@{/vehicle/new}" th:object="${vehicle}" method="post">

                <select class="custom-select" th:field="*{fuelType}" th:required="required">
                    <option value="">please select fuel type</option>
                    <option th:each="fuelType : ${T(com.example.fuel_app.entities.FuelType).values()}"th:value="${fuelType}"  th:text="${fuelType}"></option>
                </select>
                
                <div class="form-group">
                    <label th:for="title">Title</label>
                    <input class="form-control" type="text" th:field="*{title}"/>
                </div>
                <div class="form-group">
                    <label th:for="tripMeter">Trip meter</label>
                    <input class="form-control" type="number" th:field="*{startOdometer}"/>
                </div>

                <div class="form-group">
                    <label th:for="description">Description</label>
                    <input class="form-control" type="text" th:field="*{description}"/>
                </div>

                <div class="form-group">
                    <label th:for="regNumber">Registration number</label>
                    <input class="form-control" type="text" th:field="*{regNumber}"/>
                </div>
                <input type="submit" value="Send Request"/>
            </form>

        </div>
    </div>
    <div th:include="fragments/footer :: copy"></div>

</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>