<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Title</title>

</head>
<body>
<nav th:include="fragments/nav-bar :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">

</div>
</div>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>